* {
  /* must always set this general property */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  /* text colour */
  color: #444;
}
.container {
  margin: 0 auto;
  /* must specifiy the width of the container */
  width: 1200px;
  /* background-color: aqua; */
}
header {
  /* background-color: orangered; */
  height: 100vh;
  position: relative;

  /* create a stack where the linear-gradient() is on top of hero.jpg */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */
  /* url(hero.jpg); */
  /* using shades of grey instead of pure black */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
  background-size: cover; /*cover the entire element*/

  color: #fff;
}
nav {
  font-size: 20px;
  font-weight: 700;
  /* to display logo and navigation side by side */
  display: flex;
  /* to push logo and navigation to extreme end */
  justify-content: space-between;
  padding-top: 32px;
  /* to create a gradient */
  /* background-image: linear-gradient(to right, red, blue); */
  /* background-color: aquamarine; */
}
.header-container {
  width: 1200px;
  position: absolute;

  /* In relation to PARENT size */
  left: 50%;
  top: 50%;

  /* In relation to ELEMENT size */
  transform: translate(-50%, -50%); /*50% of the element height and width*/

  /* background-color: violet; */
}
.header-container-inner {
  /* In relation to PARENT element */
  width: 50%;
  /* background-color: antiquewhite; */
}
h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}
p {
  font-size: 20px;
  /* space between each line in paragraph */
  line-height: 1.6;
  margin-bottom: 48px;
}

/* always in this order */
.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600; /*600 is just nice for buttons*/
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  /* change the element to be a inline-block not an inline element */
  display: inline-block;
  padding: 16px 32px; /*top and bottom 16px and left and right 32px*/
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}
