/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR:#087f5b 
GREY COLOR:#343a40
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* reset line height to 1 */
  line-height: 1;
  /* set the table to be a flex container */
  display: flex;
  /* set in to th centre */
  justify-content: center;
}

table {
  width: 800px;
  margin-top: 100px;
  font-size: 18px;
  /* background-color: red; */
  /* give the table a border */
  /* border: 1px solid #343a40; */
  /* to just have a single border */
  border-collapse: collapse;
}
thead tr {
  background-color: #087f5b;
  color: #fff;
}
/* selecting the first row */
thead th {
  /* to set the width of each cell to be the same */
  width: 25%; /*100%/4=25%*/
}

/* creating the row colour for odd rows */
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

/* creating the row colour for even rows */
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}
